/********************************
GENERAL
********************************/
@font-face {
  font-family: light;
  src: url(fonts/MoonLight.eot); /* IE9 Compat Modes */
  src: url(fonts/MoonLight.eot?#iefix) format(embedded-opentype), /* IE6-IE8 */
       url(fonts/MoonLight.woff2) format(woff2), /* Super Modern Browsers */
       url(fonts/MoonLight.woff) format(woff), /* Pretty Modern Browsers */
       url(fonts/MoonLight.ttf)  format(truetype), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */ 
}

@font-face 
  src: url(fonts/MoonLight.ttf);
  font-family: light;
}

@font-face 
  font-family: light;
  src: url(fonts/MoonLight.eot?) format(eot), url(fonts/MoonLight.woff) format(woff), url(fonts/MoonLight.ttf) format(truetype);
}

body {
  font-family: light;
}

#cmlogo {
  display: block;
  text-align: center;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
 }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

h3{
  margin: 0 0 1em 0;
}

#resume {}

/********************************
HEADING
********************************/

header {
  float: right;
  margin: 0 0 0px 0;
  padding: 5px 0 0 0;
  width: 100%;
  font-family: moon;
}

.logo { 
  width: 80%;
  height: 80%;
  display: inline-block;
  padding: 0 20px 5px 0px;
}



h1 {
  font-family: moon;
  margin: 15px 0;
  font-size: 2.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2{
  font-size: 1.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/********************************
NAVIGATION
********************************/
.grid-container{
  display: inline-grid;
  grid-template-columns: 1fr
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 30px
  grid-row-gap: 10px
  text-align: left;
  list-style: none;
  color: #643584;
  font-size: .75em;
  font-family: moon;
  padding: 30px 50px 30px 50px


}
.grid-container2{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}


.navgrid{
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  list-style: none;
  grid-gap: 100px;
  text-align: center;
  color: #ff5af4;
  font-size: 1.50em;
  align-items: center;
}

.productgrid{
  grid-template-rows: 1fr
  grid-template-columns: 1fr;
  display: grid;
  text-align: center
  align-items: center;
}

.cart {

}

/*nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

/*nav ul{
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight:400;
  padding: 15px 15px;
}

/*nav ul li ul li {
  display: none;
}
/*nav ul li:hover ul li {
  display: block;  

}
/********************************
FOOTER
********************************/

footer {
  font-size: 1em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #643584;
  font-family: moon;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/********************************
PAGE PORTFOLIO
********************************/

#gallery {
  margin: 0;
  padding 0;
  list-style: none;
  font-family: moon;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #ffffff00;
  color: #643584;
  border-radius: 20px;
  font-family: moon;
  font-size: .75em;
}

#gallery li a {
  color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  list-style: none;
}

/********************************
PAGE ABOUT
********************************/
.dosage {
  text-align: left;
  list-style: none;
  color: #643584;
  font-size: .75em;
  font-family: moon;
  padding: 30px 50px 30px 50px;
}

.about{
  text-align: center;
  list-style: none;
  color: #643584;
  font-size: 1.50em;
  font-family: moon;
  padding: 30px 50px 30px 50px;
}
.about2{
  text-align: center;
  list-style: none;
  color: #643584;
  font-size: 1em;
  font-family: moon;
}
.about3{
  text-align: center;
  list-style: none;
  color: #643584;
  font-size: 1.50em;
  font-family: moon;
}


.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;  
}


/********************************
PAGE CONTACT
********************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}


/********************************
COLORS
********************************/

/* site body*/
body {
  background-image: linear-gradient(to top, #e2b7ff, white);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* green header*/
header 
  background: #f1e8ff;
  border-color: #599a68
}

/* nav background on mobile */
nav 
  background: #599a68;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
li a {
  color: #ef6bef; 
} 

/* nav link */
div a, div a:visited {
  color: #643584;
  }

header a.selected, header a:hover {
  color: #c3b3ce;
}
